

@model IEnumerable<Tarea2_BD1.Models.Empleado>

@{
    ViewData["Title"] = "Empleados";
}
@* onload="ObtenerColorDeFondo()" *@
<body>
    <table id="tablaEmpleados" class="table table-hover">
        <tr>
            <th id="encNom">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th id="encValorDocIdent">
                Valor del documento de identidad
            </th>
            <th id="encAccion">
                Acción
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorDocumentoIdentidad)
                </td>
                <td>
                    @Html.ActionLink("Consultar", "Consultar", new { Nombre = item.Nombre }) |
                    @Html.ActionLink("Modificar", "Modificar", new { Nombre = item.Nombre }) |
                    @Html.ActionLink("Borrar", "Borrar", new { Nombre = item.Nombre })
                </td>
            </tr>
        }
    </table>
</body>