
@model IEnumerable<Tarea2_BD1.Models.Empleado>

@{
    ViewData["Title"] = "Empleados";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}


<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body onload="ObtenerColorDeFondo()">
    <h1>Lista de Empleados</h1>

    <div>
        <div id="div-filtrar" class="mt-3">
            <input type="text" id="entFiltro" class="form-control" placeholder="Busqueda por nombre o valor de documento de identidad">
            <button id="btnFiltro" class="btn btn-primary" onclick="location.href='@Url.Action("Listar", "Empleado")'">Buscar</button>
        </div>
        @* <div id="div-botonesCRUD">
            <button id="btnConsulta" class="btn btn-primary" onclick="location.href='@Url.Action("", "")'">Consulta</button>
            <button id="btnActualizar" class="btn btn-primary" onclick="location.href='@Url.Action("", "")'">Actualizar</button>
            <button id="btnBorrar" class="btn btn-primary" onclick="location.href='@Url.Action("Listar", "Empleado")'">Borrar</button>
        </div> *@
        <div id="div-lista" class="mt-5">
            <table class="table table-hover">
                <tr>
                    <th id="encNom">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th id="encValorDocIdent">
                        Valor del documento de identidad
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorDocumentoIdentidad)
                        </td>
                        <td>
                            @Html.ActionLink("Consultar", "Consultar", new { id = item.Id }) |
                            @Html.ActionLink("Modificar", "Modificar", new { id = item.Id }) |
                            @Html.ActionLink("Borrar", "Borrar", new { Nombre = item.Nombre})//new { id = item.Id })
                        </td>
                    </tr>
                }
               @*  @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorDocumentoIdentidad)
                        </td>
                        <td>
                            @Html.ActionLink("Consultar", "Consultar") |
                            @Html.ActionLink("Modificar", "Modificar") |
                            @Html.ActionLink("Borrar", "Borrar")
                        </td>
                    </tr>
                } *@
            </table>
        </div>
        <form>
            <input type="submit" id="btnAgregar" class="btn btn-primary" value="Agregar" asp-controller="Empleado" asp-action="Agregar">
        </form>
    </div>
</body>
</html>

