@model IEnumerable<Tarea2_BD1.Models.Empleado>

@{
    ViewData["Title"] = "Empleados";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}


<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body onload="ObtenerColorDeFondo()">
    <h1>Lista de Empleados</h1>

    <div>
        <div id="div-filtrar">
            <input type="text" id="entFiltro" class="form-control" placeholder="Busqueda por nombre o valor de documento de identidad">
            <button id="btnFiltro" class="btn btn-primary" onclick="location.href='@Url.Action("Listar", "Empleado")'">Buscar</button>
        </div>
        <div id="div-botonesCRUD">
            @* Deshabilitar estos botones hasta que se seleccione un empleado en la lista de empleados *@
            <button id="btnConsulta" class="btn btn-primary" onclick="location.href='@Url.Action("", "")'">Consulta</button>
            <button id="btnActualizar" class="btn btn-primary" onclick="location.href='@Url.Action("", "")'">Actualizar</button>
            <button id="btnBorrar" class="btn btn-primary" onclick="location.href='@Url.Action("Listar", "Empleado")'">Borrar</button>
        </div>
        <div id="div-lista">
            <table class="table table-hover">
                <tr>
                    <th id="encCheck">
                        Seleccion
                    </th>
                    <th id="encId">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th id="encNom">
                        @* @Html.DisplayNameFor(model => model.ValorDocumentoIdentidad) *@
                        Identidad
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" id="seleccionEmpleado"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorDocumentoIdentidad)
                        </td>
                    </tr>
                }
            </table>
        </div>
        <form>
            <input type="submit" id="btnAgregar" class="btn btn-primary" value="Agregar" asp-controller="Empleado" asp-action="Agregar">
        </form>
    </div>
</body>
</html>

