
@* @model Empleado *@
@model ActualizarEmpleado

@{
    ViewData["Title"] = "Actualizar empleado";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>Actualizar empleado</h1>

    <div class="form-floating">

        <form id="formActualizarEmpleado" method="post" asp-controller="Empleado" asp-action="ControlErroresActualizar">

            @* Sección para el valor de documentode identidad original *@
            <div class="mt-3">
                <label>Valor del documento de identidad original:</label>
                <input type="text" class="form-control" name="empleadoOriginal.ValorDocumentoIdentidad" value="@Html.DisplayFor(modelItem => Model.empleadoOriginal.ValorDocumentoIdentidad)" readonly>
            </div>

            @* Sección para el nombre original *@
            <div class="mt-3">
                <label>Nombre original:</label>
                <input type="text" class="form-control" name="empleadoOriginal.Nombre" value="@Html.DisplayFor(modelItem => Model.empleadoOriginal.Nombre)" readonly>
            </div>

            @* Sección para el puesto original *@
            <div class="mt-3">
                <label>Puesto original:</label>
                <input type="text" class="form-control" name="empleadoOriginal.IdPuestoNavigation.Nombre"
                value="@Html.DisplayFor(modelItem => Model.empleadoOriginal.IdPuestoNavigation.Nombre)" readonly>
            </div>

            @* Sección para el valor de documentode identidad nuevo *@
            <div class="mt-4">
                <label asp-for="empleadoNuevo.ValorDocumentoIdentidad">Valor del documento de identidad nuevo:</label>
                <input asp-for="empleadoNuevo.ValorDocumentoIdentidad" type="text" class="form-control" value="" placeholder="Ingrese el nuevo valor del documento de identidad aquí">
                <span asp-validation-for="empleadoNuevo.ValorDocumentoIdentidad" class="text-danger"></span>
            </div>

            @* Sección para el nombre nuevo *@
            <div class="mt-3">
                <label asp-for="empleadoNuevo.Nombre">Nombre nuevo:</label>
                <input asp-for="empleadoNuevo.Nombre" type="text" class="form-control" placeholder="Ingrese el nuevo nombre aquí">
                <span asp-validation-for="empleadoNuevo.Nombre" class="text-danger"></span>
            </div>

            @* Sección para ingresar el puesto nuevo *@
            <div id="div-select" class="mt-3">
                <label>Puesto nuevo:</label>
                <select id="selectListaPuestos" class="form-select" name="empleadoNuevo.IdPuestoNavigation.Nombre">
                    <option value="nada" selected disabled>Seleccione el nuevo puesto:</option>
                    <option value="Albañil">Albañil</option>
                    <option value="Asistente">Asistente</option>
                    <option value="Cajero">Cajero</option>
                    <option value="Camarero">Camarero</option>
                    <option value="Conductor">Conductor</option>
                    <option value="Conserje">Conserje</option>
                    <option value="Cuidador">Cuidador</option>
                    <option value="Fontanero">Fontanero</option>
                    <option value="Niñera">Niñera</option>
                    <option value="Recepcionista">Recepcionista</option>
                </select>
            </div>

        </form>

        <div class="mt-3" id="div-botones-agregarMovimiento">
            <button type="submit" id="btnAgregar" class="btn btn-primary" form="formActualizarEmpleado">Actualizar</button>
            <button id="btnBackAgregar" class="btn btn-primary" onclick="location.href='@Url.Action("Listar", "Empleado")'">Regresar</button>
        </div>

    </div>
</body>
</html>
